<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tyler Coville</title>
  <link rel="stylesheet" href="assets/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <img src="assets/images/headshot.jpg" alt="Tyler Coville Headshot" class="headshot">
    <h1>Tyler Coville</h1>
    <div class="links">
      <a href="https://www.linkedin.com/in/tylercoville/" target="_blank">LinkedIn</a> |
      <a href="https://github.com/tylercoville" target="_blank">GitHub</a>
    </div>
  </div>
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "476c536cefaf44748a8906283d639772"}'></script><!-- End Cloudflare Web Analytics -->
</body>
</html>

