---
layout: layout.njk
---
<article class="post">
  <h1>{{ title }}</h1>
  <p class="post-meta"><time datetime="{{ page.date | isoDate }}">{{ page.date | postDate }}</time></p>
  {{ content | safe }}
</article>
